cifar10_results/checkpoint/cifar10/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_0__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0.t7
cifar10_results/checkpoint/cifar10/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_37500__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0.t7
cifar10_results/checkpoint/cifar10/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_12500__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0.t7
cifar10_results/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_0__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0__best_acc.txt
cifar10_results/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_0__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0__stats_dict.pkl
cifar10_results/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_12500__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0__best_acc.txt
cifar10_results/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_12500__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0__stats_dict.pkl
cifar10_results/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_37500__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0__best_acc.txt
cifar10_results/dataset_cifar10__data_augmentation_True__cutout_True__seed_1__sorting_file_cifar10_sorted__remove_n_37500__keep_lowest_n_0__remove_subsample_0__noise_percent_labels_0__noise_percent_pixels_0__noise_std_pixels_0__stats_dict.pkl
